html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-display: auto;
  }
  p{
    font-size: 1.5rem;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
  }

@media(max-width: 700px) {
    .h2, .h3, .h1{
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}
.bg-rocket {
    background: url("img/rocket_launch.jpg") no-repeat;
    background-size: cover;
}

.bg-img {
    position: relative;
    overflow: hidden;
}
.bg-img h2, .bg-img h1 {
    position: relative;
    margin-top: 10.5rem;
    z-index: 2;
}

.bg-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    opacity: 0.6;
}

@media(min-width: 900px) {
    .bg-img img {
        width: 100%;
        height: auto;
    }
}

.text-blue {
   color: #6dabe4;
}

.text-navy {
    color: #001689 !important;
}

.text-red {
    color: #c33a32;
}

.text-light {
    color: #f8f9fa!important;
}

.bg-blue {
    background-color: #6dabe4;
}

.bg-navy {
    background-color: #001689;
}

.bg-red {
    background-color: #c33a32;
}

@media(min-width: 960px) {
    .carousel-inner .carousel-section {
        height: 86vh !important;
    }
}

.bottom-links {
    font-size: 1.25rem;
}

.carousel-img {
    height: 38rem;
    object-fit: cover;

}

.carousel-caption {
    margin-bottom: 12rem;
    background-color: hsl(230, 100%, 27%, .4);
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.faded {
    opacity: .6;
}

.text-bottom {
    margin-top: auto;
    margin-bottom: 0px !important;
    vertical-align: text-bottom;
    text-align: bottom;
}

.img-medium {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}